.content-shop {
  /* 쇼핑몰 창업 - 클릭엔 */
  &.clickn {
    .content-header {
      .holiday {
        background-image: url("/images/subs/shop/banner/clickn_holiday.jpg");
      }
      .first {
        background-image: url("/images/subs/shop/clickn_header_1.jpg");
      }

      .second {
        background-image: url("/images/subs/shop/clickn_header_2.jpg");
      }
    }
  }

  /* 쇼핑몰 창업 - 클라우드 */
  &.cloud {
    .content-header {
      .geditor {
        background-image: url("/images/subs/shop/banner/firstmall_geditor.png");
      }

      .main {
        background-image: url("/images/subs/shop/banner/cloud_main.jpg");
      }
    }
  }

  /* 쇼핑몰 창업 - 독립 쇼핑몰 */
  &.independent {
    .content-header {
      .geditor {
        background-image: url("/images/subs/shop/banner/firstmall_geditor.png");
      }

      .main {
        background-image: url("/images/subs/shop/banner/independent_main.jpg");
      }

      .appreciate {
        background-image: url("/images/subs/shop/banner/independent_appreciate.jpg");
      }
    }
  }

  /* 쇼핑몰 창업 - 디자인 에디터 */
  &.editor {
    .content-header {
      .anywhere {
        background-image: url("/images/subs/shop/banner/editor_anywhere.png");
      }
    }
  }
}

.content-custom {
  /* 제작·운영 의뢰 - 쇼핑몰 */
  &.shoppingmall {
    .content-header {
      .first {
        background-image: url("/images/subs/custom/banner/shoppingmall_1.jpg");
      }
    }
  }

  /* 제작·운영 의뢰 - 운영 대행 */
  &.agency {
    .content-header {
      .first {
        background-image: url("/images/subs/custom/banner/agency_1.jpg");
      }
    }
  }
}

.content-openmarket {
  /* 오픈마켓 판매  - 하이셀링 */
  &.hiselling {
    .content-header {
      .double {
        background-image: url("/images/subs/openmarket/banner/double.png");
      }
      .hiseller {
        background-image: url("/images/subs/openmarket/banner/hiseller.jpg");
      }
      .main {
        background-image: url("/images/subs/openmarket/banner/main.jpg");
      }
    }
  }

  /* 오픈마켓 판매  - 이셀러스 */
  &.esellers {
    .content-header {
      .main {
        background-image: url("/images/subs/openmarket/banner/esellers_main.png");
      }
    }
  }
}

.content-global {
  /* 해외 진출 - 메인 */
  &.main {
    .content-header {
      .amazon-spn {
        background-image: url("/images/subs/global/banner/main_amazon_spn.jpg");
      }

      .market {
        background-image: url("/images/subs/global/banner/main.png");
      }
    }
  }

  &.amazon {
    .content-header {
      .amazon-spn {
        background-image: url("/images/subs/global/banner/main_amazon_spn.jpg");
      }
    }
  }

  &.alibaba {
    .content-header {
      .first {
        background-image: url("/images/subs/global/banner/alibaba_1.png");
      }

      .second {
        background-image: url("/images/subs/global/banner/alibaba_2.jpg");
      }
    }
  }
}

.content-ads {
  /* 광고·마케팅 - 메인 */
  &.main {
    .content-header {
      .consulting {
        background-image: url("/images/subs/ads/banner/agency_consulting.jpg");
      }

      .first {
        background-image: url("/images/subs/ads/banner/main_1.jpg");
      }

      .new-year {
        background-image: url("/images/subs/ads/banner/new_year.png");
      }
    }
  }

  /* 광고·마케팅 - 온라인 광고 */
  &.agency {
    .content-header {
      p {
        display: inline;
      }

      strong {
        font-weight: 500;
        color: black;
      }

      .consulting {
        background-image: url("/images/subs/ads/banner/agency_consulting.jpg");
      }

      .first {
        background-image: url("/images/subs/ads/banner/agency_1.jpg");
      }

      .second {
        background-image: url("/images/subs/ads/banner/agency_ssg.jpg");
      }

      .new-year {
        background-image: url("/images/subs/ads/banner/new_year.png");
      }
    }
  }

  /* 광고·마케팅 - SNS 마케팅 */
  &.sns {
    .content-header {
      .first {
        background-image: url("/images/subs/ads/banner/sns_1.jpg");
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .content-shop {
    /* 쇼핑몰 창업 - 클릭엔 */
    &.clickn {
      .content-header {
        .holiday {
          background-image: url("/images/subs/shop/banner/clickn_holiday_s.jpg");
        }
        .first {
          background-image: url("/images/subs/shop/clickn_header_small_1.png");
        }
        .second {
          background-image: url("/images/subs/shop/clickn_header_s_2.jpg");
        }
      }
    }

    /* 쇼핑몰 창업 - 클라우드 */
    &.cloud {
      .content-header {
        .geditor {
          background-image: url("/images/subs/shop/banner/firstmall_geditor_s.png");
        }
        .main {
          background-image: url("/images/subs/shop/banner/cloud_main_s.png");
        }
      }
    }

    /* 쇼핑몰 창업 - 독립 쇼핑몰 */
    &.independent {
      .content-header {
        .geditor {
          background-image: url("/images/subs/shop/banner/firstmall_geditor_s.png");
        }

        .main {
          background-image: url("/images/subs/shop/banner/independent_main_s.png");
        }

        .appreciate {
          background-image: url("/images/subs/shop/banner/independent_appreciate_s.jpg");
        }
      }
    }

    /* 쇼핑몰 창업 - 디자인 에디터 */
    &.editor {
      .content-header {
        .anywhere {
          background-image: url("/images/subs/shop/banner/editor_anywhere_s.png");
        }
      }
    }
  }

  .content-custom {
    /* 제작·운영 의뢰 - 쇼핑몰 */
    &.shoppingmall {
      .content-header {
        .first {
          background-image: url("/images/subs/custom/banner/shoppingmall_1_s.png");
        }
      }
    }

    /* 제작·운영 의뢰 - 운영 대행 */
    &.agency {
      .content-header {
        .first {
          background-image: url("/images/subs/custom/banner/agency_1_s.png");
        }
      }
    }
  }

  .content-openmarket {
    /* 오픈마켓 판매  - 하이셀링 */
    &.hiselling {
      .content-header {
        .double {
          background-image: url("/images/subs/openmarket/banner/double_s.png");
        }
        .hiseller {
          background-image: url("/images/subs/openmarket/banner/hiseller_s.jpg");
        }
        .main {
          background-image: url("/images/subs/openmarket/banner/main_s.png");
        }
      }
    }

    /* 오픈마켓 판매  - 이셀러스 */
    &.esellers {
      .content-header {
        .main {
          background-image: url("/images/subs/openmarket/banner/esellers_main_s.jpg");
        }
      }
    }
  }

  .content-global {
    &.main {
      .content-header {
        .market {
          background-image: url("/images/subs/global/banner/main_small.png");
        }
      }
    }

    /* 해외 진출 - 알리바바 */
    &.alibaba {
      .content-header {
        .first {
          background-image: url("/images/subs/global/banner/alibaba_1_s.png");
        }
        .second {
          background-image: url("/images/subs/global/banner/alibaba_2_s.png");
        }
      }
    }

    &.amazon {
      .content-header {
        .amazon-spn {
          background-image: url("/images/subs/global/banner/main_amazon_spn_s.png");
        }
      }
    }
  }

  .content-ads {
    /* 광고·마케팅 - 메인 */
    &.main {
      .content-header {
        .consulting {
          background-image: url("/images/subs/ads/banner/agency_consulting_s.jpg");
        }
        .first {
          background-image: url("/images/subs/ads/banner/main_1_s.png");
        }

        .new-year {
          background-image: url("/images/subs/ads/banner/new_year_s.png");
        }
      }
    }

    /* 광고·마케팅 - 온라인 광고 */
    &.agency {
      .content-header {
        .consulting {
          background-image: url("/images/subs/ads/banner/agency_consulting_s.jpg");
        }

        .first {
          background-image: url("/images/subs/ads/banner/agency_1_s.png");
        }

        .second {
          background-image: url("/images/subs/ads/banner/agency_ssg_s.jpg");
        }

        .new-year {
          background-image: url("/images/subs/ads/banner/new_year_s.png");
        }
      }
    }

    /* 광고·마케팅 - SNS 마케팅 */
    &.sns {
      .content-header {
        .first {
          background-image: url("/images/subs/ads/banner/sns_1_s.png");
        }
      }
    }
  }
}
