$primary-color: #0042cf;
$secondary-color: #0063fd;
$tertiary-color: #3399ff;

/* 캡차 */
.captcha_code {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    .captcha {
        padding-bottom: 1rem;
    }
}

/* 이벤트 페이지 말머리 */
.head_fix {
    display: flex;
    gap: 0.5rem;


    span {
        border: 1px solid #C8D8FF;
        color: #0063FD;
        padding: 5px;
        font-size: 14px;

        &:empty {
            display: none;
        }
    }
}

/* 이벤트 페이지 탭메뉴 */
.content-articles {
    .tabs li.on {
        color: $primary-color;

        &::before {
            width: 100% !important;
        }
    }

    .tab-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

/* jQuery Dialog */
.ui-dialog {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    background-color: white;
    z-index: 100;

    &-titlebar {
        display: flex;
        justify-content: space-between;
        height: 3rem;
        align-items: center;
        padding: 0 1rem;
        font-size: clamp(16px, 2vw, 18px);

        &-close {
            width: 1rem;
            height: 1rem;
            display: flex;
            background-image: linear-gradient(#333 0 0), linear-gradient(#333 0 0);
            background-position: center;
            background-size: 100% 2px, 2px 100%;
            background-repeat: no-repeat;
            color: white;
            transform: rotate(45deg);
            text-indent: -9999px;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;

        #openDialogLayerMsg {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 3rem;
            line-height: 1.5;
        }
    }

    .ui-button-wrap {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 0.5rem;

        button {
            background: #f3f6f9;
            color: #838689;
            padding: 0.5rem 1rem;
            font-size: 15px;
            font-weight: 500;

            &[id*="ConfirmYes"] {
                background-color: #0063fd;
                color: white;
            }
        }
    }
}

.ui-widget-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 10;
}
