/** @format */

@media screen and (max-width: 1280px) {
  main {
    .wrapper {
      padding: 0 5vw;
    }
  }

  .wrapper {
    padding: 0 1rem;
  }

  .content-main {
    .section-digital {
      ul {
        flex-wrap: nowrap;
        transform: scale(0.85);
      }
    }

    .section-details {
      .texts {
        margin-top: -1rem;
      }
    }
  }

  .content-shop {
    &.clickn {
      .section-reviews {
        header {
          padding-left: 1rem;
        }
      }
    }
    &.cloud {
      .section-intro {
        ul {
          margin: 3rem auto 0;
          padding-left: 0;
          gap: 3rem;
          flex-wrap: wrap;
          justify-content: center;
        }

        .image {
          max-width: none;
        }
      }
    }
    &.transfer {
      .section-benefits {
        background-position-x: -20vw;
      }
    }
  }

  .content-ads {
    &.main {
      .section-solutions {
        .image {
          right: 2vw;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  header {
    .logo {
      width: 140px;
    }

    &.header {
      min-height: 60px;

      .buttons {
        display: none;
      }

      .links {
        display: none;
      }

      .wrapper {
        align-items: center;
        justify-content: space-between;
      }

      .subs {
        flex-direction: column;
        top: 0;
        width: 70vw;
        height: 100%;
        position: fixed;
        left: 100%;
        padding: 1.5rem;
        gap: 1rem;
        overflow-y: auto;

        a {
          width: 100%;
          justify-content: flex-start;
          font-size: 18px;

          &::before {
            content: none !important;
          }
        }

        li {
          width: 100%;
          display: flex;
          align-items: flex-start;
        }

        ul {
          gap: 1rem;
          height: fit-content;
        }

        menu {
          width: 100%;

          a {
            color: black;
          }

          // ~ a {
          //   opacity: 0;
          //   max-height: 0;
          //   visibility: hidden;
          // }
        }

        ul {
          padding: 0;
          width: 100%;
        }

        &.is-active {
          left: 30vw;
        }

        .wrapper {
          padding-left: 0;
          flex-direction: column;
          justify-content: flex-start;
        }
      }
    }
  }

  .responsive {
    display: flex;
  }

  .image,
  .images,
  .video {
    &.large {
      display: none !important;

      + .image {
        display: flex;
        padding: 0 5vw;
      }
    }
  }

  main {
    margin-top: 60px;

    section {
      p {
        span {
          display: contents;
        }
      }

      .wrapper {
        width: 100%;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 2rem !important;
      }
    }

    .texts {
      order: 1;
      align-items: center;
      text-align: center;

      * {
        align-items: center;
        text-align: center;
      }

      p {
        display: inline;
        max-width: 600px;
      }
    }

    .images,
    .image {
      order: 2;
    }
  }

  .section-pricing {
    p {
      span {
        display: flex;
      }
    }
  }

  .content-main {
    .section-digital {
      ul {
        flex-wrap: nowrap;
        transform: scale(0.5);
        margin: -3rem 0;
      }
    }

    .section-details {
      p {
        white-space: normal;
      }

      a {
        min-width: auto;
        width: auto;
        margin-top: 0.5rem;

        &::after {
          margin-left: 0;
        }
      }

      h2 {
        white-space: normal;
        max-width: 90vw;
        display: flex !important;
      }

      &:not(:last-of-type) {
        padding-bottom: 1rem !important;
      }

      .texts {
        margin-top: 0;
        gap: 0.5rem;
        padding: 0 !important;
      }

      .video {
        order: 2;
      }

      .wrapper {
        padding: 0 1rem;
      }
    }
  }

  .content-shop {
    &.clickn {
      .section-reviews {
        h2 {
          display: flex !important;
        }

        .texts {
          padding-top: 3rem;
          order: 0;
          align-items: flex-start;
          text-align: left;

          * {
            align-items: flex-start;
            text-align: left;
          }
        }
      }

      .section-build {
        .image {
          order: 0;
        }

        .texts {
          padding-top: 0;
        }

        ul {
          li {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 0;

            &:nth-of-type(1) {
              .image {
                img {
                  margin-left: -5vw;
                }
              }
            }

            &:nth-of-type(2) {
              .image {
                img {
                  margin-left: 0;
                  margin-right: -10vw;
                }
              }
            }
          }
        }
      }

      .section-icons {
        h2 {
          align-items: center;
        }
      }

      .section-benefits {
        ul {
          margin-top: 1rem;
        }

        .image {
          position: absolute;
          bottom: 0;
          max-width: 50vw;
          margin-left: -30vw;
        }
      }
    }

    &.cloud {
      .section-app {
        .texts {
          align-items: flex-start;
          text-align: left;

          * {
            align-items: flex-start;
            text-align: left;
          }
        }
      }
    }

    &.transfer {
      .section-benefits {
        background-position-x: -40vw;
      }
    }
  }

  .content-custom {
    &.shoppingmall {
      .section-partners {
        ul {
          padding: 0 2rem;
          justify-content: center;
          flex-wrap: wrap;
        }

        header {
          align-items: center;

          * {
            align-items: center;
          }
        }
      }
    }
  }

  .content-openmarket {
    .section-easy {
      .texts {
        align-items: flex-start;
        text-align: left;

        * {
          align-items: flex-start;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  h2 {
    max-width: 70vw;
    display: inline-block !important;
  }

  article {
    &.details {
      padding: 2rem 0 !important;
    }
  }

  main {
    section {
      padding: 8vh 0 !important;
      overflow: hidden;

      header {
        order: -1 !important;
        padding: 0 1rem;
      }

      ul {
        gap: 0.75rem;
        padding: 0 1rem;

        li {
          flex: 1 1 auto;

          .texts,
          .images,
          .image {
            max-width: 100%;
          }
        }
      }
    }

    .wrapper {
      padding: 0;
    }

    .section-contacts {
      padding-bottom: 3vh !important;

      a {
        padding: 1rem 0 0 !important;
      }

      h2 {
        font-weight: bold;
      }

      .wrapper {
        gap: 0 !important;
      }
    }
  }

  section {
    header {
      p {
        display: inline;
      }
    }
  }

  footer {
    section {
      padding: 2rem 0;
    }

    .wrapper {
      max-width: 100%;
    }

    .section-benefits {
      padding: 2rem 0;

      h2 {
        text-align: left;
      }
    }

    .section-sitemap {
      .sitemap {
        gap: 1.5rem;

        li {
          flex-basis: auto;
        }
      }
    }

    .section-contacts {
      .contacts {
        flex-wrap: wrap;
        gap: 1rem;

        li {
          flex: 1 1 45%;
        }
      }

      .texts {
        flex-basis: 100%;
      }
    }

    .section-links {
      gap: 1rem;
    }
  }

  .modal {
    &.main {
      .dialog {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .horizontal-scroll {
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    overflow-x: auto !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      flex: 0 0 auto;
      scroll-snap-align: center;
    }
  }

  .swiper {
    &-navigation {
      transform: translateX(-50%) scale(0.85);
    }

    &.small {
      padding: 0 1rem 2rem;

      li {
        flex: none !important;
      }

      .swiper-wrapper {
        padding: 0 !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        gap: 0 !important;
        justify-content: flex-start !important;
      }

      .swiper-pagination {
        bottom: -1rem !important;
      }
    }

    &-slide {
      opacity: initial;
      animation: none;
    }
  }

  .inputs {
    padding: 0;

    li {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      padding: 1rem 0;

      > :first-child {
        flex: 1 1 auto;
      }

      > :last-child {
        width: 100%;
      }
    }
  }

  .texts {
    > * {
      align-items: center;
      text-align: center;
    }
  }

  .list {
    padding: 0 1rem;
  }

  .content-header {
    .swiper-slide {
      aspect-ratio: 1/1.23;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center bottom;

      .wrapper {
        min-height: auto;
      }
    }
  }

  .section-library {
    h2 {
      text-align: left;
      max-width: 60vw;
    }

    header {
      &::before {
        content: none;
      }
    }

    li {
      flex-basis: 70vw;
    }

    .texts {
      align-items: flex-start;

      * {
        text-align: left;
      }
    }
  }

  .section-extensions {
    li {
      flex-direction: row-reverse;
      gap: 1rem;
      padding: 1.5rem;
    }

    .image {
      max-width: 30vw;
    }

    .texts {
      align-items: flex-start;
      text-align: left;
      gap: 0.5rem;

      * {
        align-items: flex-start;
        text-align: left;
      }
    }
  }

  .section-faq {
    ul {
      padding: 0 1rem;
    }

    .accordion {
      li {
        padding: 1rem;
      }

      .question {
        &::after {
          width: 10px;
          height: 10px;
          right: 1.5rem;
        }
      }
    }
  }

  .section-process {
    .image {
      order: 0;
    }

    li {
      width: 75vw;
    }
  }

  .section-sticky-button {
    padding: 0 0 10vh !important;
    bottom: 1rem;
    margin-top: 0;

    button {
      transform: scale(0.8);
    }

    + section {
      padding: 1rem !important;
    }
  }

  .content-header {
    min-height: auto;

    .image {
      max-height: 50%;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    button {
      margin-top: 0.5rem;
      z-index: 1;
    }

    .wrapper {
      padding: 2.75rem 1.5rem;
      justify-content: flex-start;
      gap: 0.75rem;
      height: 100%;
    }
  }

  .content-articles {
    section {
      padding: 0 !important;

      .wrapper {
        gap: 0 !important;
      }
    }

    .content-header {
      min-height: 15vh;
    }

    .articles {
      li {
        flex: 1 1 auto;
      }
    }

    .search {
      margin-top: 1rem;
      justify-content: center;
    }

    .texts {
      align-items: flex-start;

      * {
        text-align: left;
      }
    }

    .image {
      order: 0;
      max-width: 100%;
    }

    .section-related {
      padding: 3rem 0 !important;
      margin-top: -3rem;

      h3 {
        -webkit-line-clamp: 3;
      }

      li {
        flex: 0 0 auto !important;
        flex-basis: 70vw !important;
      }
    }
  }

  .content-main {
    .section-intro {
      video {
        &.large {
          display: none;
        }

        &.small {
          display: block;
          max-width: 110%;
        }
      }
    }

    .section-digital {
      header {
        z-index: 1;
      }
      .logo {
        display: none;
      }

      p {
        padding-bottom: 0.5rem;
      }

      i {
        transform: scale(0.75);
      }

      ul {
        transform: scale(1);
        flex-wrap: wrap;
        margin: 0;

        li {
          width: calc(50% - 1rem);

          &:hover {
            div::before {
              transform: scale(3.75);
            }
          }

          div {
            width: 100%;
            height: auto;
            aspect-ratio: 1;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 !important;
          }
        }
      }
    }

    .section-different {
      h2 {
        flex-direction: column;
        display: flex !important;
      }

      .effect {
        padding: 2.5rem 1.25rem;
      }

      .texts {
        align-items: flex-start;
        text-align: left;

        * {
          align-items: flex-start;
          text-align: left;
        }
      }

      li {
        &:nth-of-type(1) {
          .effect {
            transform: translate(0, 21rem) rotate(-2deg);
          }
        }

        &:nth-of-type(2) {
          .effect {
            transform: translate(0);
          }
        }

        &:nth-of-type(3) {
          .effect {
            transform: translate(0, -21rem) rotate(2deg);
          }
        }
      }

      &.is-active {
        li {
          &:nth-of-type(1) {
            .effect {
              transform: translate(0) rotate(-10deg);
            }
          }

          &:nth-of-type(2) {
            .effect {
              transform: translate(0);
            }
          }

          &:nth-of-type(3) {
            .effect {
              transform: translate(0) rotate(10deg);
            }
          }
        }
      }
    }

    .section-benefits {
      padding: 4vh 1rem !important;

      .texts {
        align-items: flex-start;
        text-align: left;

        h2 {
          text-align: left;
        }
      }
    }

    .section-contacts {
      padding-bottom: 8vh !important;
    }

    .section-articles {
      h2 {
        text-align: left;
        max-width: 60vw;
      }

      li {
        flex-basis: 70vw;
      }

      .texts {
        text-align: left;
        align-items: flex-start;
      }
    }
  }

  .content-shop {
    .section-pricing {
      margin-bottom: 0;

      small {
        margin-top: 0.5rem;
      }

      li {
        padding: 2rem;
      }

      ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }

      .price {
        order: 1;
        margin-top: 1rem;
        text-align: center;
      }

      .swiper {
        width: 100%;
      }
    }

    &.clickn {
      .section-intro {
        .swiper {
          padding: 0 1rem 2rem;

          &-pagination {
            bottom: -1rem;
          }
        }

        ul {
          li {
            border-radius: 0.5rem;
            overflow: hidden;
          }
        }
      }

      .section-who {
        .image {
          padding: 0 5vw;
        }
      }

      .section-reviews {
        height: auto;

        header {
          position: relative;

          img {
            width: min(35vw, 140px);
          }
        }

        article {
          height: 100%;
          animation: none !important;
          aspect-ratio: auto;
          padding: 1.5rem;
          width: 70vw;
        }

        li {
          margin-top: 0 !important;
          padding-top: 0 !important;
          justify-content: flex-start !important;
          width: auto;
          height: auto !important;
        }

        ul {
          flex-direction: row;
          padding: 1rem;
        }

        .wrapper {
          align-items: flex-start !important;
        }
      }

      .section-icons {
        header {
          width: 100%;
          align-items: flex-start;
          padding-left: 2rem;
        }

        p,
        h3 {
          text-align: left;
        }

        h2 {
          text-align: left;
          align-items: flex-start;
        }

        ul {
          padding: 0 2rem;
          gap: 1rem;
          row-gap: 2rem;
          justify-content: flex-start;
        }

        .image {
          order: 0;
        }
      }

      .section-benefits {
        background-image: none;

        h3 {
          align-items: flex-start;
        }

        div {
          display: flex;
          gap: 0.5rem;
        }

        li {
          flex-direction: row;
          width: 100%;
          aspect-ratio: auto;
          padding: 1.5rem;
        }

        ul {
          flex-direction: column;
        }

        .texts {
          max-width: 100%;
          padding: 0;
        }

        .image {
          display: none;
          max-width: 90vw;
          bottom: -8vh;
        }
      }

      .section-skins {
        ul {
          gap: 1.25rem;
        }

        .image {
          width: 45vw;
        }
      }
    }

    &.cloud {
      .section-intro {
        ul {
          gap: 10vw;
          padding: 0 2rem;
        }
      }

      .section-only {
        li {
          flex: none;
          width: 75vw;
        }

        .texts {
          + .texts {
            width: 100%;
            left: 50%;
            padding: 0 2rem;
            transform: translate(-50%, -50%);
          }
        }
      }

      .section-app {
        p {
          align-items: center;
        }

        li {
          flex-direction: column;
          align-items: flex-start;
          border: 0;
          gap: 0.75rem;

          &:first-of-type {
            border-right: 0;
            border-bottom: 1px solid #ddd;
            padding-bottom: 2rem;
          }
        }

        ul {
          flex-flow: column nowrap;
          gap: 2rem;
          padding: 2rem;
        }

        .texts {
          gap: 1rem;
        }

        .image {
          width: 100%;
          flex: 0 0 30vw;
          justify-content: flex-end;
        }

        .wrapper {
          padding: 0 1rem;
        }
      }

      .section-payments {
        h2 {
          font-size: 22px;
          text-align: left;
        }

        li {
          flex: 0 0 auto;
          width: 75vw;
        }

        header {
          flex-wrap: nowrap;

          .image {
            order: 0;
            width: min(80px, 20vw);
          }
        }
      }
    }

    &.independent {
      .section-only {
        h3 {
          align-items: flex-start;

          span {
            text-align: left;
          }
        }

        ul {
          flex-direction: column;
          flex-wrap: nowrap;
        }

        li {
          justify-content: flex-start;
          padding: 2rem;
          gap: 1rem;
          position: relative;

          .image {
            order: 0;
          }

          .texts {
            gap: 0.5rem;
            padding: 0 1rem;

            + .texts {
              width: 100%;
              left: 50%;
              padding: 0 2rem;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .section-partners {
        p {
          text-align: left;
        }

        h2 {
          display: flex !important;
          align-items: flex-start;
        }

        header {
          align-items: flex-start;
        }

        li {
          width: 70vw;
        }
      }

      .section-business {
        li {
          width: 45%;

          &:nth-of-type(2) {
            &::after {
              content: none;
            }
          }
        }

        ul {
          row-gap: 2rem;
        }
      }
    }

    &.transfer {
      header {
        .first {
          background: url("/images/subs/shop/transfer_header_small_1.png") center no-repeat;
          background-size: 100%;
        }
      }

      .section-intro {
        li {
          flex-basis: 45%;
        }

        ul {
          padding: 0 2rem;
        }

        .image {
          order: 0;
        }
      }

      .section-benefits {
        background: #253340;

        h2 {
          text-align: center;
        }

        li {
          flex: 1;
          flex-direction: column;
        }

        .image {
          order: 0;
        }
      }
    }

    &.editor {
      .section-design {
        li {
          flex-direction: column;
        }

        ul {
          gap: 4rem;
        }
      }

      .section-function {
        .wrapper {
          gap: 4rem !important;
        }

        li {
          margin-top: 0 !important;
        }

        ul {
          margin-top: 0 !important;
          flex-direction: column;
          gap: 4rem;

          &:first-of-type {
            li {
              &:first-of-type {
                .image {
                  margin-top: -2rem;
                }
              }
            }
          }
        }
      }

      .section-hosting {
        .image {
          padding: 0 2rem;
        }
      }

      .section-pricing {
        p {
          display: flex;
        }

        header {
          padding: 0;
        }
      }
    }

    &.pricing {
      li {
        flex: 0 0 auto;
        width: 140px;
        padding: 0.75rem 0.5rem !important;
        word-break: keep-all;
      }

      ul {
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0;
      }
      .list {
        overflow-x: auto;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
          background: transparent; /* make scrollbar transparent */
        }
      }
    }
  }

  .content-ads {
    .section-diad {
      h2 {
        align-items: center;
      }

      header {
        position: relative;
        top: auto;
        left: auto;
        align-items: center;
      }

      .background {
        transform: scale(0.8);
        top: 0;
        right: 0;
      }

      .swiper {
        &-slide {
          opacity: 0 !important;
          flex-direction: column;
          align-items: center;

          &-active {
            opacity: 1 !important;
          }
        }

        &-pagination {
          bottom: 0 !important;
          gap: 0.5rem;
          padding: 0;

          li {
            margin: 0;
            padding: 0 0.5rem;
          }
        }

        .image {
          order: 0;
        }

        .texts {
          padding-top: 2rem;

          + .image {
            right: auto;
          }
        }
      }
    }

    &.main {
      .section-intro {
        padding-bottom: 0 !important;
      }

      .section-sns {
        img {
          max-width: 70%;
        }

        ul {
          padding: 0 1rem;
        }

        .image {
          order: 0;
          width: auto;
        }
      }

      .section-help {
        overflow: unset;
        padding-bottom: 2vh !important;

        p {
          display: inline-block;
        }

        li {
          width: 75vw;
        }

        ul {
          padding: 0 3rem;
        }
      }

      .section-partners {
        margin-top: 0;
        padding-top: 20vh !important;

        img {
          max-width: 45%;
        }

        li {
          height: auto !important;
        }

        .partners {
          display: flex;
          padding: 0 12vw;
        }
      }

      .section-extensions {
        .image {
          display: none;
        }
      }

      .section-blog {
        header {
          align-items: flex-start;

          a {
            position: relative;
          }
        }
        li {
          flex: 0 0 auto;
          width: 70vw;
        }
      }

      .section-solutions {
        li {
          padding: 1.5rem;
          gap: 0.5rem;
        }

        .image {
          right: 4vw;
          max-width: 30vw;
        }
      }
    }

    &.sns {
      header {
        .first {
          background: url("/images/subs/ads/sns_header_small_1.png") center no-repeat;
          background-size: 100%;
        }
      }

      .section-intro {
        ul {
          gap: 0;
        }

        .image {
          transform: scale(0.85);
        }
      }

      .section-methods {
        li {
          align-items: center;
          width: 86vw;
          margin: 0 auto !important;
        }

        ul {
          gap: 3rem;
        }

        .image {
          order: 0;
        }

        .wrapper {
          gap: 5vh;
        }
      }

      .section-advantage {
        li {
          flex-direction: column;
          flex-wrap: nowrap;
          height: auto;
          padding: 3rem 1.5rem;
          width: 86vw;
        }
      }
    }

    &.agency {
      .section-intro {
        padding-bottom: 0 !important;
      }

      .section-prefer {
        li {
          flex-direction: column;
          padding: 1rem 2rem;
        }

        .various {
          padding: 1rem 0;
        }

        .images {
          justify-content: center;
          margin-top: 1rem;
        }

        &.is-active {
          .images {
            gap: 3px;
          }
        }
      }
    }
  }

  .content-custom {
    &.shoppingmall {
      .section-intro {
        li {
          padding: 0 2rem;
        }

        .image {
          order: 0;
        }
      }

      .section-knowhow {
        li {
          flex: 0 0 auto;
          width: 75vw;
        }
      }

      .section-partners {
        header {
          align-items: center;
          margin-bottom: 2rem;

          h2 {
            align-items: center;
          }
        }

        li {
          flex: 1 1 auto;
          width: 75vw;
          display: flex;
          justify-content: center;

          a {
            align-items: center;
            gap: 1rem;
          }
        }

        .image {
          order: -1;
          aspect-ratio: 1.653/1;
          overflow: hidden;
          display: flex;
          align-items: flex-start;
        }
      }
    }

    &.agency {
      header {
        .first {
          background: url("/images/subs/custom/agency_header_small_1.png") center no-repeat;
          background-size: 100%;
        }
      }

      .section-works {
        h3 {
          &::after {
            width: calc(100% - 1.5rem);
          }
        }

        li {
          height: 100% !important;
          flex-direction: column;
        }

        ul {
          padding: 0;
          gap: 0;
        }

        .image {
          order: 0;
        }

        .texts {
          flex: 1 1 auto;
          aspect-ratio: unset;
          align-items: flex-start;
          text-align: left;
          padding: 1.5rem;

          * {
            text-align: left;
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          display: none;
        }
      }
    }
  }

  .content-openmarket {
    &.hiselling {
      .section-intro {
        .texts {
          width: 75vw;
          max-width: none;
          align-items: flex-start;
          text-align: left;

          * {
            align-items: flex-start;
            text-align: left;
          }
        }
      }

      .section-recommend {
        .image {
          max-width: 100%;
        }
      }

      .section-easy {
        p {
          align-items: center;
        }

        li {
          flex-direction: column;
          align-items: flex-start;
          border: 0;
          gap: 0.75rem;

          &:first-of-type {
            border-right: 0;
            border-bottom: 1px solid #ddd;
            padding-bottom: 2rem;
          }
        }

        ul {
          width: 100%;
          flex-flow: column nowrap;
          gap: 2rem;
          padding: 2rem 1rem 2rem 2rem;
        }

        .texts {
          gap: 1rem;
        }

        .image {
          width: 100%;
          flex: 0 0 30vw;
          justify-content: flex-end;
        }

        .wrapper {
          padding: 0 1rem;
        }
      }

      .section-sellers {
        p {
          margin-top: -0.5rem;
        }

        li {
          flex: 1 1 auto;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }

        ul {
          gap: 3rem;
        }
      }

      .section-details {
        li {
          align-items: center;
        }
      }

      .section-knowhow {
        h2 {
          display: flex !important;
          flex-direction: column;
          max-width: 100%;
        }

        .image {
          &:first-of-type {
            left: -1rem;
            top: 1rem;
            transform: scale(0.75);
          }
        }
      }

      .section-partners {
        ul {
          justify-content: center;
          gap: 0.75rem;
        }
      }

      .section-pricing {
        article {
          flex: none;
        }

        .swiper {
          overflow: unset;
        }

        .caution {
          padding: 0 1rem;
        }
      }

      .section-free {
        padding: 0 !important;

        .wrapper {
          gap: 1rem !important;
          flex-direction: row-reverse !important;
          padding: 5px 2rem 0;
        }

        .image {
          max-width: 30vw;
        }

        .texts {
          align-items: flex-start;
          text-align: left;
          gap: 0;

          * {
            align-items: flex-start;
            text-align: left;
          }
        }
      }
    }

    &.esellers {
      .section-intro {
        .texts {
          width: 75vw;
          max-width: none;
          align-items: flex-start;
          text-align: left;

          * {
            align-items: flex-start;
            text-align: left;
          }
        }
      }

      .section-recommend {
        .image {
          max-width: 100%;
        }
      }

      .section-easy {
        p {
          align-items: center;
        }

        li {
          flex-direction: column;
          align-items: flex-start;
          border: 0;
          gap: 0.75rem;

          &:first-of-type {
            border-right: 0;
            border-bottom: 1px solid #ddd;
            padding-bottom: 2rem;
          }
        }

        ul {
          width: 100%;
          flex-flow: column nowrap;
          gap: 2rem;
          padding: 2rem 1rem 2rem 2rem;
        }

        .texts {
          gap: 1rem;
        }

        .image {
          width: 100%;
          flex: 0 0 30vw;
          justify-content: flex-end;
        }

        .wrapper {
          padding: 0 1rem;
        }
      }

      .section-sellers {
        p {
          margin-top: -0.5rem;
        }

        li {
          flex: 1 1 auto;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }

        ul {
          gap: 3rem;
        }
      }

      .section-details {
        li {
          align-items: center;
        }
      }

      .section-partners {
        ul {
          justify-content: center;
          gap: 0.75rem;
        }
      }

      .section-pricing {
        article {
          flex: none;

          header {
            height: 80px;
          }
        }

        .price {
          padding: 1rem;
        }

        .swiper {
          overflow: unset;
        }

        .caution {
          padding: 0 1rem;
        }
      }

      .section-free {
        padding: 0 !important;

        .wrapper {
          gap: 1rem !important;
          flex-direction: row-reverse !important;
          padding: 5px 2rem 0;
        }

        .image {
          max-width: 30vw;
        }

        .texts {
          align-items: flex-start;
          text-align: left;
          gap: 0;

          * {
            align-items: flex-start;
            text-align: left;
          }
        }
      }
    }
  }

  .content-global {
    &.alibaba {
      .section-intro {
        li {
          flex: 1 1 25%;
        }
      }

      .section-pricing {
        .list {
          display: none;
        }

        .swiper {
          display: block;
        }
      }

      .section-membership {
        header {
          p {
            background-position: center top;
            padding-left: 0;
            padding-top: 3rem;
          }
        }

        li {
          * {
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        }
      }

      .section-certification {
        background-attachment: unset;
      }

      .section-special {
        ul {
          width: 100%;
        }

        .swiper {
          flex-direction: column;
        }
      }
    }
  }

  .content-contacts {
    section {
      overflow: unset;
      padding: 2rem 0 !important;

      header {
        padding: 0;
      }
    }
  }

  .content-government-benefits {
    section {
      padding: 4vh 0 !important;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      header {
        flex: 0 0 auto;
      }
    }

    .texts:not(header) {
      align-items: flex-start;

      p {
        display: inline;
      }

      * {
        align-items: flex-start;
        text-align: left;
      }

      li {
        flex: 1;

        &:not(:last-of-type) {
          padding-right: 0.5rem;
        }
      }

      ul {
        padding: 0.5rem;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .content-header {
      min-height: auto;

      .wrapper {
        padding: 2rem 0;
      }
    }

    .tabs {
      li {
        height: 45px;
      }
    }

    .tab-content {
      .wrapper {
        padding: 0;
      }
    }
  }
}
